@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

:root {
  font-size: 14px;
  --pf-global--BackgroundColor--light-100: #fff;
  --pf-global--primary-color--100: #007ea7;
  --pf-global--primary-color--200: #003459;
}

.pf-c-input-group {
  background-color: #003459;
  display: flex;
  align-items: center;
}

.login-pf {
  background: none;
  height: 100%;
  width: 100%;
}
card-pf p.pf-c-input-group
.login-pf body {
  background: #e4e4e4;
  font-family: Roboto;
  height: 100%;
  margin: 0;
}

#kc-header-wrapper {
  display: none;
}

.login-pf-page {
  padding: 50px;
  display: flex;
  justify-content: center;
  align-items: stretch;
  height: 100%;
  background-color: #E1F7FF;
}

.login-pf-page-header {
  height: 100%;
  flex: 0 0 35em;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  background-color: #fff;
}

.card-pf {
  border-top: 0;
  margin: 0;
  flex: 0 0 35em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  background-color: #003459;
}

.login-pf-page .card-pf p {
  color: #e4e4e4;
}

.pf-c-button.pf-m-control {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-pf-page .login-pf-header h1 {
  margin: 0;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 2rem;
  text-align: left;
  color: #ffffff;
}

input[type="text"],
input[type="password"],
select {
  height: 48px;
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type="submit"] {
  width: 100%;
  background-color: #4caf50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #45a049;
}

#kc-form-options .checkbox {
  padding: 0;
  margin: 0;
}

.pf-c-form__label {
  color: #ffffff;
}

.pf-c-button,
.pf-c-button.pf-m-primary {
  color: var(--pf-c-button--m-primary--Color);
  background-color: var(--pf-c-button--m-primary--BackgroundColor);
}

.pf-m-primary:hover {
  background-color: #00a8e8 !important;
  color: #36383a !important;
}

.login-subtitle {
  font-size: 1rem;
  line-height: 1.4rem;
  padding: 16px 0 16px 0;
  color: #ffffff;
}

.pf-m-error {
  color: #ffa1a1 !important;
}

.login-pf-signup {
  color: #d3d3d3;
}

.login-pf-signup a, h4 {
  color: #ffffff;
}

a:-webkit-any-link {
  color: #ffffff;
}

@media (max-width: 750px) {
  .login-pf-page-header,
  .login-pf body {
    background-color: #fff;
  }
  .login-pf-page {
    flex-direction: column;
    justify-content: center;
  }
  .login-pf-page-header {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    flex: 0 0 15em;
  }
  .card-pf {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
  }
}

.locale-container {
  position: relative;
  display: inline-block;
  text-align: right;
  margin: 10px;
}

.current-locale {
  display: inline-block;
  cursor: pointer;
  color: #000000;
}

.current-locale-link {
  text-decoration: none;
  background-color: #007ea7 !important;
  padding: 5px 10px;
  border-radius: 5px;
}

.locale-dropdown {
  position: absolute;
  top: 40px;
  right: 0;
  background: #fff;
  border: 1px solid #ccc;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  z-index: 1000;
  min-width: 150px;
}

.locale-dropdown.hidden {
  display: none;
}

.locale-list {
  list-style: none;
  background-color: #007ea7;
  margin: 0;
  padding: 0;
}

.locale-item-link {
  font-size: 14px;
  width: 100%;
}

.locale-list-item {
  list-style: none;
  margin: 0;
  padding: 5px 10px;
  cursor: pointer;
}

.locale-item-link {
  font-size: 14px;
  display: block;
  width: 100%;
  text-decoration: none;
  padding: 5px 10px;
  box-sizing: border-box;
}

.locale-list-item:hover {
  background-color: #00a8e8;
}

.current-locale-btn {
  color: white;
  background-color: #007ea7;
  border: none;
  border-radius: 5px;
}